/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;  
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	/* display: block; */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* * {
    box-sizing: border-box;
    border: 1px solid #4F4F4F; */
}
html{
    font-size:62.5%;
    
}
body {
    font-size:1.6rem;
    line-height:1.5;
    font-family:'Roboto Mono', monospace;
    color: #4F4F4F;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
    text-align: center;
    padding: 1%;
}
nav {
    display: flex;
    justify-content: center;
}
nav a {
    width: 10%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid black;
}
h2 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 3rem;
    padding: 1%;
}
header p {
    text-align: center;
    margin: 2% 5%;
    font-size: 1rem;
}
.bgImg {
    height: 50vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwhiYLH0xKcxKF57kJD9DL0NqyQuB8_plRSQ&usqp=CAU');
    background-size: cover;
    background-position: bottom;
    margin: 2% 0
}
.projects {
    display: flex;
    justify-content: space-between;
    height: 85vh;
    align-items: center;
    max-width: 100%;
}
.projectImages {
    display: flex;
    justify-content: space-evenly;;
  width: 100%;
}
.projects img{
   display: flex;
   justify-content: space-between;
   width: 20%;
   height: 80vh;
   
}
.projectText {
    width: 20%;
    font-size: 1rem;
}
.projects button {
    padding: 5%;
    width: 50%;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 180, 231);
}
footer button {
    padding: 1%;
    margin: 5%
}
nav a:hover{
background-color: black;
color: white;
}

@media(max-width: 800px){
   h1 {
       font-size:3rem;
   }
    h2{
        font-size: 2.5rem;
    }
    nav a {
        width: 11%;
        font-size: small;
    }
    nav a:hover{
        background-color: black;
        color: white;
        }
    header p{
        font-size: small;
    }
    .projectText{
        font-size: small;
    }
    .projectText button {
        padding: 7%;
        width: 70%;
        margin: 0 auto;
        font-size: smaller;
    }
    
}
@media(max-width: 500px){
    nav{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    nav a{
        width:20%
    }
    .bgImg {
        margin: 1% 5%;
    }
    .projects{
        display: flex;
        flex-flow: column;
        height: fit-content;
    }
    .projectImages{
        margin: 2% 0;
        
    }
    .projects img{
        width:fit-content
    }
    .projectText {
        width: 80%;
    
    }
    .projectText button{
        width: 20%;
        padding: 2%;
        margin: 0 auto;
        
    }
}